<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.doviesfitness">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- Samsung -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" /> <!-- HTC -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" /> <!-- Sony -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" /> <!-- Apex -->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" /> <!-- Solid -->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" /> <!-- Huawei -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" /> <!-- ZUK -->
    <uses-permission android:name="android.permission.READ_APP_BADGE" /> <!-- OPPO -->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" /> <!-- EvMe -->
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <application
        android:name=".Doviesfitness"
        android:allowBackup="false"
        android:exported="true"
        android:icon="@drawable/app_icon"
        android:label="@string/my_app_name"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode"
        tools:replace="android:label,android:allowBackup">
        <activity
            android:name=".ui.new_player.activity.NewPlayerView"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.AddNotesActivity"
            android:exported="false" />
        <!--
        <activity android:name=".ui.multipleQuality.SampleChooserActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/my_app_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="asset"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.exolist\\.json"/>
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".ui.multipleQuality.PlayerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/BlackStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <!--
        <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="geo" />
            -->
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
                <data android:host="https://www.doviesfitness.com" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="geo" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.multipleQuality.StreamPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/BlackStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
                <data android:host="https://www.doviesfitness.com" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="geo" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.multipleQuality.DemoDownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.android.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".setting.MyCameraActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.CameraViewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.AboutApplicationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.profile.inbox.activity.NotificationExerciesActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackStatusTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.profile.inbox.activity.CustomCommentActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.profile.inbox.activity.CustomNotificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.temp.TempDownloadStreamActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" /> <!-- //android:theme="@style/AppTheme.RegisterSliderActivityTheme" -->
        <activity
            android:name=".ui.HelloActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".ui.profile.inbox.activity.InboxActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".ui.showDietPlanDetail.ShowDietPlanDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.ActivityGoodFor"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.AddExerciseFromSearchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackStatusTheme1" />
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.AddExerciseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackStatusTheme1" />
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.CreateWorkoutActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".setting.ContactUsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.ActivityMyWorkoutList"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.createAndEditDietPlan.activity.create_DietPlanWebViewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.createAndEditDietPlan.activity.Cretat_DietPlanActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".subscription.SubscriptionActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".subscription.PurchaseActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.createAndEditDietPlan.activity.CreateWorkOutPlanActivty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.MyWorkoutLogList"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.ViewAndSaveLogImageActvity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackStatusTheme1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.workout_plan.activity.MyPlanActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheam"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.workout_plan.activity.AddToWorkOutPlanActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheam"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.WorkoutVideoPlayActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/BlackStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        -->
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.WorkoutVideoPlayActivityNew"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/BlackStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.WorkoutCompleteActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusTheme1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.createAndEditDietPlan.activity.OtherMediaDietPlanWebViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/WhiteStatusTheme1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.WorkoutLogActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".ui.bottom_tabbar.home_tab.activity.WorkOutDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".ui.bottom_tabbar.home_tab.activity.VideoDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.home_tab.activity.WorkOutPlanDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.home_tab.activity.FeedDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheme2"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.home_tab.activity.CommentsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheme2"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.authentication.signup.activity.PrivacyPolicyAndTACActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.ExerciseDetailListActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheme2"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.ExerciseDetailListActivityNew"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheme2"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.exercise_listing.ExerciseListActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheme2"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.workout_tab.activity.FilterExerciseActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.authentication.login.ResetPassword2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.setting.faq.FAQActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.authentication.ChangePasswordActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.authentication.login.ResetPassword1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RegisterSliderActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" /> <!-- android:theme="@style/FullScreenTheme" -->
        <activity
            android:name=".temp.TempDownWorkOutsVideoActvity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <!--
<activity android:name=".ui.bottom_tabbar.stream_tab.temp.TempDownloadStreamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RegisterSliderActivityTheme"
            android:exported="true"/>
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.bottom_tabbar.HomeTabActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">

            <!-- android:windowSoftInputMode="adjustPan|stateHidden" -->
            <intent-filter>
                <action android:name="ChatActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.doviesfitness.com"
                    android:pathPrefix="/d"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.authentication.signup.activity.HeightAndWeightActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.authentication.signup.activity.SelectGenderActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.authentication.signup.activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" /> <!-- android:theme="@style/FullScreenTheme" -->
        <activity
            android:name=".ui.authentication.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" /> <!-- android:theme="@style/WhiteStatusTheme" -->
        <!--
   <activity android:name=".ui.spotify.SplashActivity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".ui.spotify.MainActivity1" />
        <activity android:name=".ui.spotify.MainActivity2" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".MyVideoPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.splash.IntroSliderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".setting.InviteFriendsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.base.BaseActivity" />
        <activity
            android:name=".ui.authentication.signup.activity.CountrySelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheam"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.authentication.signup.activity.AddProfilePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheam"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.authentication.signup.activity.CreateUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheam"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.authentication.signup.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.createAndEditDietPlan.selectWeekPlan.activity.SelectWorkOutCateguryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".ui.createAndEditDietPlan.selectWeekPlan.activity.SelectWorkOutPlanActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.StreamVideoPlayActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/BlackStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.StreamVideoPlayUrlActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/BlackStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.multipleQuality.StreamVideoPlayUrlActivityTemp"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/BlackStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="castvideos.com"
                    android:path="/cast/join"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.StreamVideoPlayLandscapeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/BlackStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.FavoriteStreamActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheam"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.StreamLogHistoryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheam"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.StreamLogActivity"
            android:exported="true"
            android:requestLegacyExternalStorage="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheam"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.StreamCompleteActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheam"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.DownloadsStreamActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheam"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.DeleteDownlodedStreamActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheam"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.SearchStreamActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheam"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.StreamDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheam"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.DownWorKOutsVideoActvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bottom_tabbar.diet_plan.DietPlanDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".ui.bottom_tabbar.diet_plan.DietPlanStreamDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.MyDietPlanStreamActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.StreamVideoPlayLandscapeFromDownLoadActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/BlackStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.bottom_tabbar.stream_tab.activities.StreamDownloadedVideoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/BlackStatusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--
        <activity
                android:name="com.soundcloud.android.crop.CropImageActivity"
                android:theme="@style/WhiteStatusTheme"/>
        -->
        <!--
      yashank id
      <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5fb8842b301f3cac210a6fb331b521208d3383c9" />
        -->
        <!-- // For notificationssss -->
        <!-- //Shivangi mam id -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5e0bf629c03ab3ea32289c2a1253a24eae8138c6" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/transprent_img" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".ui.bottom_tabbar.stream_tab.download_background.BoundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".ui.bottom_tabbar.stream_tab.download_background.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".setting.recivers.DeviceBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".setting.recivers.MyNotificationPublisher" />
        <!--
        <activity
            android:name=".chromecast.VideoBrowserActivity"
            android:label="@string/my_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="castvideos.com"
                    android:path="/cast/join"/>
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".chromecast.mediaplayer.LocalPlayerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chromecast.settings.CastPreference"
            android:exported="true"
            android:label="@string/action_settings"
            android:theme="@style/BlackStatusTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chromecast.queue.ui.QueueListViewActivity"
            android:exported="true"
            android:label="@string/queue_list"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chromecast.expandedcontrols.ExpandedControlsActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/BlackStatusExpandedControlsTheme" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.doviesfitness.chromecast.CastOptionsProvider" />
    </application>

</manifest>